form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
}

body {
    margin: 10px;
}

.user {
    border: 1px solid #bbb;
    max-width: 400px;
    padding: 10px;
    margin: 15px;
}

* {
    margin: 0px;
    padding: 0x;
    text-decoration: none;
    list-style: none;
}